.h1-2{
	color:white;
}

.div-h-2{
	text-align:center;
	margin-bottom:10%;
}

.btn-2{
	width:100%;
}

.nav-2{
margin-bottom:10%;
}

.border{
border:1px solid black;
}

p,h1,h2,h3{
text-align:center;
}

.padding{
padding:10%;
}